*, *::before, *::after {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    background-color: #DAEED3;
}

body {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 500px;
    color: #2a3231;
}

.header {
    font-size: 22px;
}

a:link, a:visited {
    color: #0F9474;
    text-decoration: none;
}

table {
    width: 125%;
    height: 600px;
    border-spacing: 30px;
}